#Intellij IDEA
.idea
*.iml
out/
scrinshot/
lesson1/
lesson2/
lesson3/
lesson4/
*.DS_Store
# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/src/main/java/hillel/homework/lesson6/
